*{
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background: rgb(255, 255, 255);
  margin: 20px;
  padding: 0;
}

form, h2 {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
}

.title {
  text-align: center;
  color: #333;
  border-radius: 200px;  
}

form{
  margin-top: 0px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

label{
  display: block;
  margin: 8px;
}


input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: 2px solid red;
}

.error, .searchBoxError {
  color: rgb(211, 41, 41);
  font-weight: bold;
}

#eyeicon{
  padding-left: 5px;
  padding-top: 5px;
  width: auto;
  height: 30px;
  cursor: pointer;
}


#submit,#back, .reg {
  background-color: #ccc;
  padding: 10px 15px;
  border: none;
  border-radius: 70px;
  font-size: 16px;
  width: 100%;
}

select{
  border-radius: 10px;
  width: 100%;
  padding: 8px;
}

a{
  font-weight: bold;
}





#searchInput {
  outline: 1px solid black;
  align-content: center;
  width: 100%;
  margin: 10px;
  box-sizing: border-box;
  
}



.searchResult {
  border: 1px solid #ddd;
  padding: 8px;
  margin-bottom: 10px;
}

.centered-image {
  display: block;
  margin: 0 auto; 
}

.centered-content {
  text-align: center; 
}


#pass {
  position: relative;
}

#password {
  padding-right: 30px; 
}

#eye {
  position: absolute;
  padding-top: 0px;
  right: 20px; 
  height: 40px;
  width: 30px;
  cursor: pointer;
}

#email .errorFound{
    border-color: red;
    border-style: solid;
    border: 30px;
}

#resultC {
  background-color: beige;
  border-color: #dd0404;
  border-style: solid;
  border: #ccc;
  box-sizing: content-box;
  margin: 50px;
  display: none;
  text-align: center;
}

.aligned-content em{
  width: 120px;
  display: inline-block;
  margin: 5px;
}

.aligned-content img{
  border-radius: 20px;
  border-color: #000000;
  border-style: solid;

}

select{
  outline: 2px solid green;
}

#occupation{
  outline: 2px solid rgb(178, 232, 236);
}


